<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2473416.gif</key>
	<string>{96, 96}</string>
	<key>zuzagiko48.gif</key>
	<string>{48, 48}</string>
	<key>zuzagiko16.gif</key>
	<string>{16, 16}</string>
	<key>nagato.gif</key>
	<string>{117, 41}</string>
	<key>shishimai.gif</key>
	<string>{45, 40}</string>
	<key>moukoneeyo_2.gif</key>
	<string>{120, 90}</string>
	<key>moukoneeyo_1.gif</key>
	<string>{120, 90}</string>
	<key>hagurumaou_g16.gif</key>
	<string>{16, 16}</string>
	<key>samekimusume16.gif</key>
	<string>{16, 16}</string>
	<key>morarael001.gif</key>
	<string>{64, 64}</string>
	<key>all.gif</key>
	<string>{70, 50}</string>
	<key>wassha001.gif</key>
	<string>{64, 64}</string>
	<key>pump.gif</key>
	<string>{35, 35}</string>
	<key>bs.gif</key>
	<string>{32, 30}</string>
	<key>u_utyuu.gif</key>
	<string>{64, 64}</string>
	<key>u_unko.gif</key>
	<string>{48, 48}</string>
	<key>miyabi.gif</key>
	<string>{117, 41}</string>
	<key>mini.gif</key>
	<string>{23, 23}</string>
	<key>u_tobacco.gif</key>
	<string>{128, 46}</string>
	<key>u_syobon_d.gif</key>
	<string>{64, 36}</string>
	<key>u_suberi.gif</key>
	<string>{96, 85}</string>
	<key>bodafone16.gif</key>
	<string>{16, 16}</string>
	<key>u_sofa.gif</key>
	<string>{56, 40}</string>
	<key>u_sii_naname.gif</key>
	<string>{46, 46}</string>
	<key>u_sii_cake.gif</key>
	<string>{64, 64}</string>
	<key>bat.gif</key>
	<string>{35, 35}</string>
	<key>u_sii_angel.gif</key>
	<string>{58, 96}</string>
	<key>u_shingi.gif</key>
	<string>{85, 56}</string>
	<key>u_shii_giko.gif</key>
	<string>{66, 36}</string>
	<key>8toushinnomonar16.gif</key>
	<string>{16, 16}</string>
	<key>8k.gif</key>
	<string>{23, 29}</string>
	<key>8.gif</key>
	<string>{23, 29}</string>
	<key>u_sasu.gif</key>
	<string>{64, 48}</string>
	<key>u_puni.gif</key>
	<string>{50, 42}</string>
	<key>u_pechi.gif</key>
	<string>{50, 40}</string>
	<key>8_2.gif</key>
	<string>{23, 29}</string>
	<key>8_1.gif</key>
	<string>{23, 29}</string>
	<key>u_pata.gif</key>
	<string>{80, 34}</string>
	<key>u_pata_p.gif</key>
	<string>{42, 38}</string>
	<key>otiketu48.gif</key>
	<string>{48, 48}</string>
	<key>otiketu16.gif</key>
	<string>{16, 16}</string>
	<key>aroeri-na16.gif</key>
	<string>{16, 16}</string>
	<key>4k.gif</key>
	<string>{23, 29}</string>
	<key>u_oppai_u.gif</key>
	<string>{105, 42}</string>
	<key>u_okotowari.gif</key>
	<string>{128, 40}</string>
	<key>u_okotowari_a.gif</key>
	<string>{110, 50}</string>
	<key>o_saturday.gif</key>
	<string>{60, 48}</string>
	<key>o_pugi.gif</key>
	<string>{40, 40}</string>
	<key>araebi.gif</key>
	<string>{69, 24}</string>
	<key>4.gif</key>
	<string>{23, 29}</string>
	<key>4_2.gif</key>
	<string>{23, 29}</string>
	<key>4_1.gif</key>
	<string>{23, 29}</string>
	<key>u_ocha.gif</key>
	<string>{40, 40}</string>
	<key>u_nyu.gif</key>
	<string>{100, 73}</string>
	<key>32k.gif</key>
	<string>{23, 29}</string>
	<key>u_naoruyo.gif</key>
	<string>{58, 56}</string>
	<key>u_naoruyo_bath.gif</key>
	<string>{80, 72}</string>
	<key>anime_wacchoi04.gif</key>
	<string>{80, 29}</string>
	<key>32.gif</key>
	<string>{23, 29}</string>
	<key>32_2.gif</key>
	<string>{23, 29}</string>
	<key>u_mosa.gif</key>
	<string>{95, 50}</string>
	<key>u_mokuba.gif</key>
	<string>{72, 72}</string>
	<key>32_1.gif</key>
	<string>{23, 29}</string>
	<key>u_kuwa.gif</key>
	<string>{40, 32}</string>
	<key>u_kuma_kowai.gif</key>
	<string>{88, 88}</string>
	<key>onigiri_r16.gif</key>
	<string>{16, 16}</string>
	<key>u_hoshi.gif</key>
	<string>{72, 72}</string>
	<key>u_haka.gif</key>
	<string>{64, 76}</string>
	<key>u_giko_ebi.gif</key>
	<string>{68, 64}</string>
	<key>onigiri_l16.gif</key>
	<string>{16, 16}</string>
	<key>u_doutei.gif</key>
	<string>{106, 64}</string>
	<key>u_chinsyu.gif</key>
	<string>{145, 56}</string>
	<key>u_ame.gif</key>
	<string>{96, 72}</string>
	<key>onigiri_c16.gif</key>
	<string>{16, 16}</string>
	<key>kuma-16.gif</key>
	<string>{16, 16}</string>
	<key>omochi_3.gif</key>
	<string>{32, 45}</string>
	<key>kokemomo16.gif</key>
	<string>{16, 16}</string>
	<key>2k.gif</key>
	<string>{23, 29}</string>
	<key>anime_karake.gif</key>
	<string>{70, 50}</string>
	<key>anime_loop.gif</key>
	<string>{70, 60}</string>
	<key>iyahoo.gif</key>
	<string>{100, 60}</string>
	<key>niramushigotokiga16.gif</key>
	<string>{16, 16}</string>
	<key>sk.gif</key>
	<string>{35, 35}</string>
	<key>1_1.gif</key>
	<string>{23, 29}</string>
	<key>tarako2.gif</key>
	<string>{87, 50}</string>
	<key>1_2.gif</key>
	<string>{23, 29}</string>
	<key>16_1.gif</key>
	<string>{23, 29}</string>
	<key>16_2.gif</key>
	<string>{23, 29}</string>
	<key>karake.gif</key>
	<string>{70, 50}</string>
	<key>nurupo_ga_1.gif</key>
	<string>{48, 48}</string>
	<key>nurupo_ga_2.gif</key>
	<string>{48, 48}</string>
	<key>16.gif</key>
	<string>{23, 29}</string>
	<key>16k.gif</key>
	<string>{23, 29}</string>
	<key>anime_nurupo_ga_1.gif</key>
	<string>{48, 48}</string>
	<key>anime_nurupo_ga_2.gif</key>
	<string>{48, 48}</string>
	<key>o_anime_basiin.gif</key>
	<string>{88, 64}</string>
	<key>1k.gif</key>
	<string>{23, 29}</string>
	<key>1san16.gif</key>
	<string>{16, 16}</string>
	<key>kita1.gif</key>
	<string>{200, 18}</string>
	<key>o_anime_pugi.gif</key>
	<string>{40, 40}</string>
	<key>anime_onigiri04.gif</key>
	<string>{84, 32}</string>
	<key>kita2.gif</key>
	<string>{200, 18}</string>
	<key>1sanmini16.gif</key>
	<string>{16, 16}</string>
	<key>2_1.gif</key>
	<string>{23, 29}</string>
	<key>anime_onini03.gif</key>
	<string>{82, 23}</string>
	<key>2_2.gif</key>
	<string>{23, 29}</string>
	<key>2.gif</key>
	<string>{23, 29}</string>
	<key>u_papi.gif</key>
	<string>{128, 72}</string>
	<key>bucket-full.png</key>
	<string>{128, 128}</string>
</dict>
</plist>
